@page
@model Mateut_Andreea_Proiect.Pages.Mouvies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mouvie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mouvie.Title" class="control-label"></label>
                <input asp-for="Mouvie.Title" class="form-control" />
                <span asp-validation-for="Mouvie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvie.Regizor" class="control-label"></label>
                <input asp-for="Mouvie.Regizor" class="form-control" />
                <span asp-validation-for="Mouvie.Regizor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvie.PriceTicket" class="control-label"></label>
                <input asp-for="Mouvie.PriceTicket" class="form-control" />
                <span asp-validation-for="Mouvie.PriceTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvie.ReleaseDate" class="control-label"></label>
                <input asp-for="Mouvie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Mouvie.ReleaseDate" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvie.ReleaserID" class="control-label">Releaser Name</label>
                <select asp-for="Mouvie.ReleaserID" class="form-control" asp-items="ViewBag.ReleaserID">
                </select>
                <span asp-validation-for="Mouvie.ReleaserID" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <div class="table">
                        <table>
                            <tr>
                                @{
                                    int cnt = 0;
                                    foreach (var cat in Model.AssignedCategoryDataList)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="selectedCategories"
                                                   value="@cat.CategoryID"
                                                   @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                            @cat.CategoryID @: @cat.Name
                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>
                        </div>
                    </div>



                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
